<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>EFFITOPIA</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>EFFITOPIA</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="/img/profile/admin.jpg" alt="" style="width: 50px; height: 50px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">박태환</h6>
                        <span>회원권한</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="index.html" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>회원관리</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="" class="dropdown-item">전체 회원 조회</a>
                            <a href="" class="dropdown-item">창고별 계약 회원 조회</a>
                            <a href="" class="dropdown-item">회원 가입 승인</a>
                            <a href="" class="dropdown-item">회원 탈퇴 승인</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>입고관리</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="" class="dropdown-item">입고요청</a>
                            <a href="" class="dropdown-item">입고현황</a>
                            <a href="" class="dropdown-item">입고</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>출고관리</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="" class="dropdown-item">출고요청</a>
                            <a href="" class="dropdown-item">출고현황</a>
                            <a href="" class="dropdown-item">배차현황</a>
                            <a href="" class="dropdown-item">운송장현황</a>
                            <a href="" class="dropdown-item">차량현황</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>재고관리</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/stock/list-tempstock" class="dropdown-item">임시재고현황</a>
                            <a href="/stock/list" class="dropdown-item">재고현황</a>
                            <a href="/stockcheck/list" class="dropdown-item">재고실사</a>
                            <a href="/stockcheck/list-stockcheck" class="dropdown-item">재고실사조회</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>창고관리</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="" class="dropdown-item">창고등록</a>
                            <a href="" class="dropdown-item">창고현황</a>
                            <a href="" class="dropdown-item">창고계약</a>
                            <a href="" class="dropdown-item">창고계약현황</a>
                            <a href="" class="dropdown-item">안전점검</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>고객센터</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="" class="dropdown-item">공지사항</a>
                            <a href="" class="dropdown-item">문의 게시판</a>
                            <a href="" class="dropdown-item">찾아오시는 길</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>거래처관리</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="" class="dropdown-item">거래처등록</a>
                            <a href="" class="dropdown-item">거래처현황</a>
                        </div>
                    </div>
                    <a href="" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Widgets</a>
                    <a href="" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>
                    <a href="" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="../../../../../../../../Downloads/dashmin-1.0.0/signin.html" class="dropdown-item">Sign In</a>
                            <a href="../../../../../../../../Downloads/dashmin-1.0.0/signup.html" class="dropdown-item">Sign Up</a>
                            <a href="../../../../../../../../Downloads/dashmin-1.0.0/404.html" class="dropdown-item">404 Error</a>
                            <a href="../../../../../../../../Downloads/dashmin-1.0.0/blank.html" class="dropdown-item">Blank Page</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Message</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/img/profile/business-proprietor.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/img/profile/business-proprietor.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle" src="/img/profile/business-proprietor.jpg" alt="" style="width: 40px; height: 40px;">
                                    <div class="ms-2">
                                        <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                        <small>15 minutes ago</small>
                                    </div>
                                </div>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all message</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notification</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">New user added</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item">
                                <h6 class="fw-normal mb-0">Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item text-center">See all notifications</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="/img/profile/admin.jpg" alt="" style="width: 50px; height: 50px;">
                            <span class="d-none d-lg-inline-flex">박태환</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="#" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            <!-- 검색어 필터 -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                  
                    <div class="col-sm-12">
                        <div class="bg-light align-items-center rounded p-4">
                            <h6 class="mb-3">재고 실사</h6>
                            <form id="searchForm" th:action="@{/stockcheck/search}" method="get" th:object="${pageRequestDTO}">
                                <div class="row mb-2">
                                    <label  class="col-sm-2 align-self-center col-form-label">사업자 이름</label>
                                    <div class="col-sm-8 ps-0">
                                        <input type="text" class="form-control"  th:field="${searchCond.memberName}">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label  class="col-sm-2 align-self-center col-form-label">창고 이름</label>
                                    <div class="col-sm-8 ps-0">
                                        <input type="text" class="form-control" th:field="${searchCond.wareHouseName}">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label  class="col-sm-2 align-self-center col-form-label">상품 이름</label>
                                    <div class="col-sm-8 ps-0">
                                        <input type="text" class="form-control" th:field="${searchCond.productName}">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label  class="col-sm-2 align-self-center col-form-label">유통 기한</label>
                                    <div class="d-lg-inline-flex md-2 col-sm-8 ps-0">
                                        <input type="date" class="form-control" th:field="${searchCond.startDate}">
                                        <span class="mx-4">~</span>
                                        <input type="date" class="form-control" th:field="${searchCond.endDate}">
                                    </div>
                                </div>          
                                <br>
                      
                                <div class="text-center">
                                    <button type="submit" class=" btn btn-primary btn-lg rounded-pill m-2 " style="width: 25%;">조회</button>
                                </div>
                            
                          </form>
                        </div>
                    </div>
                </div>
            </div>
   


            <!-- 조회 리스트 -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0 al">재고 조회 목록</h6>
                        <!-- <select id="rowPerPage" class="form-select me-2" style="width: auto;">
                            <option value="10">10개씩 보기</option>
                            <option value="15">15개씩 보기</option>
                            <option value="20">20개씩 보기</option>
                        </select> -->
                        
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped" id="stockTable">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col"><input type="checkbox" id="selectAll"></th>
                                    <th scope="col">재고번호</th>
                                    <th scope="col">분류</th>
                                    <th scope="col">상품 이름</th>                                   
                                    <th scope="col">상품 수량</th>
                                    <th scope="col">사업자</th>
                                    <th scope="col">창고명</th>
                                    <th scope="col">창고위치</th>
                                    <th scope="col">유통기한</th>
                                </tr>
                            </thead>
                            <tbody id="stockTableBody">
                                <!-- <input type="checkbox" class="stock-checkbox" data-id="${stock.id}"> -->
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation" th:if="${pageResponseDTO != null and pageResponseDTO.total > 0}">
                        <ul class="pagination justify-content-center mt-4">
                            <li class="page-item" th:classappend="${pageResponseDTO.prev ? '' : 'disabled'}">
                                <a class="page-link" th:href="@{/stockcheck/list(page=${pageResponseDTO.start - 1})}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo; 이전</span>
                                </a>
                            </li>
                            <li class="page-item" th:each="num : ${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}" 
                                th:classappend="${pageResponseDTO.page == num ? 'active' : ''}">
                                <a class="page-link" th:href="@{/stockcheck/list(page=${num})}" th:text="${num}"></a>
                            </li>
                            <li class="page-item" th:classappend="${pageResponseDTO.next ? '' : 'disabled'}">
                                <a class="page-link" th:href="@{/stockcheck/list(page=${pageResponseDTO.end + 1})}" aria-label="Next">
                                    <span aria-hidden="true">다음 &raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- 조회리스트 End -->

            <!-- 실사 등록 -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">실사 등록</h6>
                    </div>
                    <form id="stockCheckForm">
                        <div class="row mb-2">
                            <div class="col-sm-12 ps-0">
                                <table class="table table-striped" id="selectedItemsTable">
                                    <thead>
                                        <tr class="text-dark">
                                            <th scope="col">분류</th>
                                            <th scope="col">상품 이름</th>
                                            <th scope="col">상품 수량</th>
                                            <th scope="col">실사 수량</th>
                                            <th scope="col">사업자</th>
                                            <th scope="col">창고명</th>
                                            <th scope="col">창고위치</th>
                                            <th scope="col">유통기한</th>
                                            <th scope="col">취소</th>
                                        </tr>
                                    </thead>
                                    <tbody id="selectedItemsTableBody">
                                        <!-- 선택된 항목들이 여기에 추가됩니다 -->
                                        <!-- <tr th:each="stock : ${selectedStocks}">
                                            <td th:text="${stock.category}"></td>
                                            <td th:text="${stock.productName}"></td>
                                            <td th:text="${stock.quantity}"></td>
                                            <td><input type="number" name="checkAmount" class="form-control"></td>
                                            <td th:text="${stock.memberName}"></td>
                                            <td th:text="${stock.warehouseName}"></td>
                                            <td th:text="${stock.warehouseLocation}"></td>
                                            <td th:text="${stock.expirationDate}"></td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm cancel-selection">취소</button>
                                            </td>
                                            <input type="hidden" name="stockId" th:value="${stock.id}"> -->
                                            <!-- <input type="hidden" name="cellDTO" th:value="${#strings.escapeJavaScript(#objects.toJson(stock.cellDTO))}"> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center">
                                <button type="button" id="registerStockCheckBtn" class="btn btn-primary btn-lg rounded-pill m-2" style="width: 25%">실사 등록</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 실사 등록 End -->  

            
            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4 al">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="">www.effiTOPia.com</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        </br>
                        Distributed By <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/chart/chart.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>

    <script>
document.addEventListener('DOMContentLoaded', function() {
    const stockTable = document.getElementById('stockTable');
    const selectedItemsTable = document.getElementById('selectedItemsTable');
    const registerStockCheckBtn = document.getElementById('registerStockCheckBtn');
    const selectAllCheckbox = document.getElementById('selectAll');

    // 전체 선택 체크박스 이벤트 리스너
    selectAllCheckbox.addEventListener('change', function() {
        const checkboxes = stockTable.querySelectorAll('tbody input[type="checkbox"]');
        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
            updateSelectedItems(checkbox);
        });
    });

    // 개별 체크박스 이벤트 리스너
    stockTable.addEventListener('change', function(e) {
        if (e.target.type === 'checkbox') {
            updateSelectedItems(e.target);
        }
    });

    // 선택된 항목 업데이트
    function updateSelectedItems(checkbox) {
        const row = checkbox.closest('tr');
        const selectedItemsTableBody = document.getElementById('selectedItemsTableBody');
        
        if (checkbox.checked) {
            // 선택된 항목을 실사 등록 테이블에 추가
            const newRow = selectedItemsTableBody.insertRow();
            newRow.innerHTML = `
                <td>${row.cells[2].textContent}</td>
                <td>${row.cells[3].textContent}</td>
                <td>${row.cells[4].textContent}</td>
                <td><input type="number" name="checkAmount" class="form-control" required></td>
                <td>${row.cells[5].textContent}</td>
                <td>${row.cells[6].textContent}</td>
                <td>${row.cells[7].textContent}</td>
                <td>${row.cells[8].textContent}</td>
                <td><button type="button" class="btn btn-danger btn-sm cancel-selection">취소</button></td>
                <input type="hidden" name="stockId" value="${row.cells[1].textContent}">
            `;
        } else {
            // 선택 해제된 항목을 실사 등록 테이블에서 제거
            const selectedRows = selectedItemsTableBody.querySelectorAll('tr');
            selectedRows.forEach(selectedRow => {
                if (selectedRow.cells[1].textContent === row.cells[3].textContent) {
                    selectedRow.remove();
                }
            });
        }
    }

    // 취소 버튼 이벤트 리스너
    selectedItemsTable.addEventListener('click', function(e) {
        if (e.target.classList.contains('cancel-selection')) {
            const row = e.target.closest('tr');
            const productName = row.cells[1].textContent;
            row.remove();
            
            // 원래 테이블의 체크박스 해제
            const checkboxes = stockTable.querySelectorAll('tbody input[type="checkbox"]');
            checkboxes.forEach(checkbox => {
                if (checkbox.closest('tr').cells[3].textContent === productName) {
                    checkbox.checked = false;
                }
            });
        }
    });

    // 실사 등록 버튼 이벤트 리스너
    registerStockCheckBtn.addEventListener('click', function() {
        const form = document.getElementById('stockCheckForm');
        const formData = new FormData(form);
        const stockChecks = [];

        // 선택된 항목들의 데이터 수집
        const rows = selectedItemsTable.querySelectorAll('tbody tr');
        rows.forEach(row => {
            const stockCheck = {
                stockId: row.querySelector('input[name="stockId"]').value,
                checkAmount: row.querySelector('input[name="checkAmount"]').value
            };
            stockChecks.push(stockCheck);
        });

        // 서버로 데이터 전송
        fetch('/api/stockcheck/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(stockChecks)
        })
        .then(response => response.json())
        .then(data => {
            alert('실사 등록이 완료되었습니다.');
            // 필요한 경우 페이지 새로고침 또는 테이블 초기화
            location.reload();
        })
        .catch((error) => {
            console.error('Error:', error);
            alert('실사 등록 중 오류가 발생했습니다.');
        });
    });
});

    </script>
    
</body>

</html>