<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.top.effitopia.mapper.ContractMapper">
    <resultMap id ="contract" type ="Contract">
        <id property="id" column="contract_id"/>
        <result property="startDate" column="contract_start_date"/>
        <result property="date" column="contract_num_of_months"/>
        <result property="endDate" column="contract_end_date"/>
        <result property="status" column="contract_status"/>
        <result property="regDate" column="reg_date"/>
        <result property="modDate" column="mod_date"/>
        <association property="warehouse" javaType="Warehouse">
            <id property="id" column="warehouse_id"/>
            <result property="code" column="warehouse_code"/>
            <result property="name" column="warehouse_name"/>
            <result property="phone" column="warehouse_phone"/>
            <result property="zipCode" column="warehouse_zip_code"/>
            <result property="roadName" column="warehouse_road_name"/>
            <result property="lotNumber" column="warehouse_lot_number"/>
            <result property="detailAddress" column="warehouse_detail_address"/>
            <result property="width" column="warehouse_width"/>
            <result property="length" column="warehouse_length"/>
            <result property="height" column="warehouse_height"/>
            <result property="capacity" column="warehouse_capacity"/>
            <result property="latitude" column="warehouse_latitude"/>
            <result property="longitude" column="warehouse_longitude"/>
            <result property="regDate" column="reg_date"/>
            <result property="modDate" column="mod_date"/>
        </association>
        <association property="member" javaType="Member">
            <id property="id" column="member_id"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="name" column="name"/>
            <result property="phone" column="phone"/>
            <result property="email" column="email"/>
            <result property="status" column="status"/>
            <result property="role" column="role"/>
            <result property="businessNumber" column="business_number"/>
            <result property="regDate" column="reg_date"/>
            <association property="address" javaType="Address">
                <result property="zipCode" column="zip_code"/>
                <result property="roadNameAddress" column="road_name_address"/>
                <result property="lotNumberAddress" column="lot_number_address"/>
                <result property="detailAddress" column="detail_address"/>
            </association>
        </association>
    </resultMap>
    <resultMap id = "warehouseCost" type="WarehouseCost">
        <id property="id" column="warehouse_cost_id"/>
        <result property="contractCost" column="warehouse_contract_cost"/>
        <result property="storageCostPerArea" column="storage_cost_per_area"/>
        <result property="inboundBasicFee" column="inbound_basic_fee"/>
        <result property="outboundBasicFee" column="outbound_basic_fee"/>
        <association property="warehouse" javaType="Warehouse">
            <id property="id" column="warehouse_id"/>
            <result property="roadName" column="warehouse_road_name"/>
            <association property="member" javaType="Member">
                <id property="id" column="member_id"></id>
                <result property="name" column="name"></result>
                <result property="username" column="username"></result>
                <association property="address" javaType="Address">
                    <result property="zipCode" column="zip_code"/>
                    <result property="roadNameAddress" column="road_name_address"/>
                    <result property="lotNumberAddress" column="lot_number_address"/>
                    <result property="detailAddress" column="detail_address"/>
                </association>
            </association>
        </association>
    </resultMap>

    <resultMap id="member" type="Member">
        <id property="id" column="member_id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="selectListAll" parameterType="com.top.effitopia.dto.PageRequestDTO" resultMap="contract">
        select * from contract c
                          JOIN warehouse w ON c.warehouse_id = w.warehouse_id
                          JOIN member m ON c.member_id = m.member_id
        ORDER BY contract_id
                DESC LIMIT #{skip}, #{size}
    </select>

    <select id="selectListByStatus" parameterType="com.top.effitopia.dto.PageRequestDTO" resultMap="contract">
        select * from contract WHERE contract_status = #{searchCond} ORDER BY contract_id DESC LIMIT #{skip}, #{size}
    </select>

    <update id="update" parameterType="contract">
        UPDATE contract
        SET contract_status=#{status}, contract_end_date=date_add(now(),INTERVAL contract_num_of_months MONTH), mod_date=now()
        WHERE contract_id=#{id}
    </update>

    <insert id="insert" parameterType="contract" >
        INSERT INTO contract (warehouse_id, member_id, contract_start_date, contract_num_of_months, contract_end_date, contract_status, reg_date)
        VALUES (#{warehouse.id}, #{member.id}, #{startDate}, #{date}, DATE_ADD(#{startDate}, INTERVAL #{date} MONTH), 'REQUEST', NOW())
    </insert>

    <update id="updateApprovalList" parameterType="java.util.List">
        UPDATE contract
        SET contract_status='APPROVE', mod_date = now()
        WHERE contract_id IN
        <foreach item="contract" collection="list" open="("  close=")" separator=",">
            #{contract}
        </foreach>
    </update>

    <update id="updateRejectList" parameterType="java.util.List">
        UPDATE contract
        SET contract_status='REJECT', mod_date = now()
        WHERE contract_id IN
        <foreach item="contract" collection="list" open="("  close=")" separator=",">
            #{contract}
        </foreach>
    </update>

    <select id="getCount" resultType="int">
        select count(warehouse_id) from warehouse
    </select>

    <select id="getOne" parameterType="Integer" resultMap="warehouseCost">
        select * from warehouse_cost wc
                          join warehouse w on wc.warehouse_id = w.warehouse_id
                          join member m on w.member_id = m.member_id
        where w.warehouse_id = #{id}
    </select>

    <select id="checkMember" parameterType="String" resultType="java.lang.Integer">
        SELECT m.member_id FROM member m
                                    join warehouse w on w.member_id = m.member_id
        WHERE name=#{name}
    </select>

    <select id="selectUserId" parameterType="String" resultType="java.lang.Integer">
        select member_id from member where name=#{name}
    </select>
</mapper>
