<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.top.effitopia.mapper.ProductMapper">

  <resultMap id="ProductSubclassCategory" type="com.top.effitopia.domain.ProductSubclassCategory">
    <id property="id" column="subclass_id"/>
    <result property="name" column="subclass_name"/>
    <result property="middleId" column="middle_id"/>
  </resultMap>

  <resultMap id="Product" type="Product">
    <id property="id" column="product_id"/>
    <result property="name" column="product_name"/>
    <result property="productBrand" column="product_brand"/>
    <result property="productStorageType" column="storage_type"/>
    <result property="productCost" column="product_cost"/>
    <result property="productSelling" column="product_selling"/>
    <result property="productInfo" column="product_info"/>
    <result property="inboundBoxWidth" column="inbound_box_width"/>
    <result property="inboundBoxLength" column="inbound_box_length"/>
    <result property="inboundBoxHeight" column="inbound_box_height"/>
    <result property="productWeight" column="product_weight"/>
    <result property="productImg" column="product_img"/>
    <association property="productSubclassCategory" resultMap="ProductSubclassCategory" columnPrefix="sc_"/>
  </resultMap>

  <select id="selectAllProducts" resultMap="Product">
    SELECT
    p.product_id AS product_id,
    p.product_name AS product_name,
    p.product_brand AS product_brand,
    p.storage_type AS storage_type,
    p.product_cost AS product_cost,
    p.product_selling AS product_selling,
    p.product_info AS product_info,
    p.inbound_box_width AS inbound_box_width,
    p.inbound_box_length AS inbound_box_length,
    p.inbound_box_height AS inbound_box_height,
    p.product_weight AS product_weight,
    p.product_img AS product_img,
    c.subclass_id AS sc_subclass_id,
    c.subclass_name AS sc_subclass_name,
    c.middle_id AS sc_middle_id
    FROM product p, product_subclass_category c, product_middle_category m, product_major_category j
    WHERE p.subclass_id = c.subclass_id
      AND c.middle_id = m.middle_id
      AND m.major_id = j.major_id
    <if test="searchCond != null and searchCond.name != null and searchCond.name != ''">
      AND p.product_name LIKE CONCAT('%', #{searchCond.name}, '%')
    </if>
    <if test="searchCond != null and searchCond.productBrand != null and searchCond.productBrand != ''">
      AND p.product_brand LIKE CONCAT('%', #{searchCond.productBrand}, '%')
    </if>
    <if test="searchCond != null and searchCond.majorCategoryId != null">
      AND j.major_id = #{searchCond.majorCategoryId}
    </if>
    <if test="searchCond != null and searchCond.middleCategoryId != null">
      AND m.middle_id = #{searchCond.middleCategoryId}
    </if>
    <if test="searchCond != null and searchCond.subclassCategoryId != null">
      AND c.subclass_id = #{searchCond.subclassCategoryId}
    </if>
    LIMIT #{skip}, #{size}
  </select>

  <select id="getCount" parameterType="com.top.effitopia.dto.ProductSearchCond" resultType="int">
    SELECT COUNT(*)
    FROM product p
    JOIN product_subclass_category c ON p.subclass_id = c.subclass_id
    JOIN product_middle_category m ON c.middle_id = m.middle_id
    JOIN product_major_category j ON m.major_id = j.major_id
    WHERE 1=1
    <if test="name != null and name != ''">
      AND p.product_name LIKE CONCAT('%', #{searchCond.name}, '%')
    </if>
    <if test="productBrand != null and productBrand != ''">
      AND p.product_brand LIKE CONCAT('%', #{searchCond.productBrand}, '%')
    </if>
    <if test="majorCategoryId != null">
      AND j.major_id = #{searchCond.majorCategoryId}
    </if>
    <if test="middleCategoryId != null">
      AND m.middle_id = #{searchCond.middleCategoryId}
    </if>
    <if test="subclassCategoryId != null">
      AND c.subclass_id = #{searchCond.subclassCategoryId}
    </if>
  </select>


</mapper>