<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.top.effitopia.mapper.StockMapper">

<!-- 상품 매핑    -->
    <resultMap id="Product" type="Product">
        <id property="id" column="product_id"/>
        <result property="name" column="product_name"/>
        <result property="productBrand" column="product_brand"/>
        <result property="productCost" column="product_cost"/>
        <result property="productSelling" column="product_selling"/>
        <result property="productInfo" column="product_info"/>
        <result property="inboundBoxWidth" column="inbound_box_width"/>
        <result property="inboundBoxLength" column="inbound_box_length"/>
        <result property="inboundBoxHeight" column="inbound_box_height"/>
        <result property="productWeight" column="product_weight"/>
        <result property="productImg" column="product_img"/>
        <result property="productStorageType" column="storage_type"/>
        <association property="productSubclassCategory" column="subclass_id" javaType="ProductSubclassCategory"/>
    </resultMap>

    
<!--재고 매핑-->
    
    <resultMap id="Stock" type="Stock">
        <id property="id" column="stock_id"/>
        <result property="stockAmount" column="amount"/>
        <result property="manufacturingDate" column="manufacturing_date"/>
        <result property="expirationDate" column="expiration_date"/>
        <result property="regDate" column="reg_date"/>
        <result property="modDate" column="mod_date"/>

        <association property="member" javaType="Member">
            <id property="id" column="member_id"/>
            <result property="name" column="name"/>
            <result property="phone" column="phone"/>
            <result property="email" column="email"/>
            <result property="businessNumber" column="business_number"/>
            <association property="address" javaType="Address">
                <result property="zipCode" column="zip_code"/>
                <result property="roadNameAddress" column="road_name_address"/>
                <result property="lotNumberAddress" column="lot_number_address"/>
                <result property="detailAddress" column="detail_address"/>
            </association>
        </association>

        <association property="cell" javaType="Cell">
            <id property="id" column="cell_id"/>
            <result property="capacity" column="cell_capacity"/>
            <association property="warehouse" javaType="Warehouse">
                <id property="id" column="warehouse_id"/>
                <result property="code" column="warehouse_code"/>
                <result property="name" column="warehouse_name"/>
                <result property="phone" column="warehouse_phone"/>
                <result property="zipCode" column="warehouse_zip_code"/>
                <result property="roadName" column="warehouse_road_name"/>
                <result property="lotNumber" column="warehouse_lot_number"/>
                <result property="detailAddress" column="warehouse_detail_address"/>
            </association>
        </association>

        <association property="product" column="product_id" resultMap="Product"/>
    </resultMap>

<!--    임시재고 매핑-->
    <resultMap id="TempStock" type="TempStock">
        <id property="id" column="temp_stock_id"/>
        <result property="changeAmount" column="change_amount"/>
        <result property="manufacturingDate" column="manufacturing_date"/>
        <result property="expirationDate" column="expiration_date"/>
        <result property="regDate" column="reg_date"/>
        <result property="tempStockState" column="temp_stock_state"/>

        <association property="member" javaType="Member">
            <id property="id" column="member_id"/>
            <result property="name" column="name"/>
            <result property="phone" column="phone"/>
            <result property="email" column="email"/>
            <result property="businessNumber" column="business_number"/>
            <association property="address" javaType="Address">
                <result property="zipCode" column="zip_code"/>
                <result property="roadNameAddress" column="road_name_address"/>
                <result property="lotNumberAddress" column="lot_number_address"/>
                <result property="detailAddress" column="detail_address"/>
            </association>
        </association>

        <association property="cell" javaType="Cell">
            <id property="id" column="cell_id"/>
            <result property="capacity" column="cell_capacity"/>
            <association property="warehouse" javaType="Warehouse">
                <id property="id" column="warehouse_id"/>
                <result property="code" column="warehouse_code"/>
                <result property="name" column="warehouse_name"/>
                <result property="phone" column="warehouse_phone"/>
                <result property="zipCode" column="warehouse_zip_code"/>
                <result property="roadName" column="warehouse_road_name"/>
                <result property="lotNumber" column="warehouse_lot_number"/>
                <result property="detailAddress" column="warehouse_detail_address"/>
            </association>
        </association>

        <association property="product" column="product_id" resultMap="Product"/>

    </resultMap>

<!-- =============================================================================================== -->


<!--재고 여러개 조회-->
    <select id="selectListStock" resultMap="Stock" resultType="List">
        select * from stock s
            join member m on s.member_id = m.member_id
            join cell c on s.cell_id = c.cell_id
            join product p on s.product_id = p.product_id
            join warehouse w on c.warehouse_id = w.warehouse_id
        <where>
            <if test="searchCond != null">
                <if test="searchCond.memberName != null">
                    AND m.name LIKE CONCAT('%', #{searchCond.memberName}, '%')
                </if>
                <if test="searchCond.wareHouseName != null">
                    AND w.warehouse_name LIKE CONCAT('%', #{searchCond.wareHouseName}, '%')
                </if>
                <if test="searchCond.productName != null">
                    AND p.product_name LIKE CONCAT('%', #{searchCond.productName}, '%')
                </if>
                <if test="searchCond.startDate != null  and searchCond.endDate != null">
                    AND date(expiration_date) between #{searchCond.startDate} and #{searchCond.endDate}
                </if>
            </if>
        </where>
            order by stock_id
            limit #{skip}, #{size}
    </select>

<!--재고 하나 조회-->
    <select id="selectOneStock" resultMap="Stock">
        select * from stock s
        join member m on s.member_id = m.member_id
        join cell c on s.cell_id = c.cell_id
        join product p on s.product_id = p.product_id
        where stock_id = #{id}
    </select>

<!--임시재고를 재고로 반영-->
    <update id="updateList">
        call update_tempstock_to_stock
    </update>


    <select id="getStockCount" resultType="int">
        select count(stock_id) from stock s
        join member m on s.member_id = m.member_id
        join cell c on s.cell_id = c.cell_id
        join product p on s.product_id = p.product_id
        join warehouse w on c.warehouse_id = w.warehouse_id
        <where>
            <if test="searchCond != null">
            <if test="searchCond.memberName != null">
                AND m.name LIKE CONCAT('%', #{searchCond.memberName}, '%')
            </if>
            <if test="searchCond.wareHouseName != null">
                AND w.warehouse_name LIKE CONCAT('%', #{searchCond.wareHouseName}, '%')
            </if>
            <if test="searchCond.productName != null">
                AND p.product_name LIKE CONCAT('%', #{searchCond.productName}, '%')
            </if>
            <if test="searchCond.startDate != null  and searchCond.endDate != null">
                AND expiration_date between #{searchCond.startDate} and #{searchCond.endDate}
            </if>
             </if>
        </where>
    </select>




<!--임시재고 여러개 조회-->
    <select id="selectListTempStock" resultMap="TempStock" resultType="List">
        select * from temp_stock ts
        join member m on ts.member_id = m.member_id
        join cell c on ts.cell_id = c.cell_id
        join product p on ts.product_id = p.product_id
        join warehouse w on c.warehouse_id = w.warehouse_id
        <where>
            <if test="searchCond != null">
                <if test="searchCond.memberName != null">
                    AND m.name LIKE CONCAT('%', #{searchCond.memberName}, '%')
                </if>
                <if test="searchCond.wareHouseName != null">
                    AND w.warehouse_name LIKE CONCAT('%', #{searchCond.wareHouseName}, '%')
                </if>
                <if test="searchCond.productName != null">
                    AND p.product_name LIKE CONCAT('%', #{searchCond.productName}, '%')
                </if>
                <if test="searchCond.startDate != null  and searchCond.endDate != null">
                    AND expiration_date between #{searchCond.startDate} and #{searchCond.endDate}
                </if>
                <if test="searchCond.state != null and searchCond.state == 1">
                    and temp_stock_state = 0
                </if>
                <if test="searchCond.state != null and searchCond.state == 2">
                    and temp_stock_state = 1
                </if>
            </if>
        </where>
        order by temp_stock_id
        limit #{skip}, #{size}
    </select>

    <select id="getTempStockCount" resultType="int">
        select count(temp_stock_id) from temp_stock ts
        join member m on ts.member_id = m.member_id
        join cell c on ts.cell_id = c.cell_id
        join product p on ts.product_id = p.product_id
        join warehouse w on c.warehouse_id = w.warehouse_id
        <where>
            <if test="searchCond != null">
                <if test="searchCond.memberName != null">
                    AND m.name LIKE CONCAT('%', #{searchCond.memberName}, '%')
                </if>
                <if test="searchCond.wareHouseName != null">
                    AND w.warehouse_name LIKE CONCAT('%', #{searchCond.wareHouseName}, '%')
                </if>
                <if test="searchCond.productName != null">
                    AND p.product_name LIKE CONCAT('%', #{searchCond.productName}, '%')
                </if>
                <if test="searchCond.startDate != null  and searchCond.endDate != null">
                    AND expiration_date between #{searchCond.startDate} and #{searchCond.endDate}
                </if>
            </if>
        </where>

    </select>


</mapper>