<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.top.effitopia.mapper.WarehouseMapper">
    <resultMap id="warehouse" type="Warehouse">
        <id property="id" column="warehouse_id"/>
        <result property="code" column="warehouse_code"/>
        <result property="name" column="warehouse_name"/>
        <result property="phone" column="warehouse_phone"/>
        <result property="zipCode" column="warehouse_zip_code"/>
        <result property="roadName" column="warehouse_road_name"/>
        <result property="lotNumber" column="warehouse_lot_number"/>
        <result property="detailAddress" column="warehouse_detail_address"/>
        <result property="width" column="warehouse_width"/>
        <result property="length" column="warehouse_length"/>
        <result property="height" column="warehouse_height"/>
        <result property="capacity" column="warehouse_capacity"/>
        <result property="latitude" column="warehouse_latitude"/>
        <result property="longitude" column="warehouse_longitude"/>
        <result property="regDate" column="reg_date"/>
        <result property="modDate" column="mod_date"/>
        <association property="warehouseType" javaType="WarehouseType">
            <id property="id" column="category_id"/>
            <result property="type" column="warehouse_type"/>
        </association>
        <association property="member" javaType="Member">
            <id property="id" column="member_id"/>
            <result property="username" column="username"/>
            <result property="status" column="status"/>
            <result property="role" column="role"/>
        </association>
    </resultMap>

    <resultMap id ="cell" type ="Cell">
        <id property="id" column="cell_id"/>
        <result property="code" column="cell_code"/>
        <result property="width" column="cell_width"/>
        <result property="length" column="cell_length"/>
        <result property="height" column="cell_height"/>
        <result property="capacity" column="cell_capacity"/>
        <association property="warehouse" javaType="Warehouse">
            <id property="id" column="warehouse_id"/>
        </association>
    </resultMap>

    <resultMap id ="warehouseType" type ="WarehouseType">
        <id property="id" column="category_id"/>
        <result property="type" column="warehouse_type"/>
    </resultMap>

    <resultMap id ="Stock" type ="Stock">
        <id property="id" column="stock_id"/>
        <result property="type" column="warehouse_type"/>
    </resultMap>

    <resultMap id="member123" type="Member">
        <id property="id" column="member_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>
        <result property="role" column="role"/>
        <result property="businessNumber" column="business_number"/>
        <result property="regDate" column="reg_date"/>
        <association property="address" javaType="Address">
            <result property="zipCode" column="zip_code"/>
            <result property="roadNameAddress" column="road_name_address"/>
            <result property="lotNumberAddress" column="lot_number_address"/>
            <result property="detailAddress" column="detail_address"/>
        </association>
    </resultMap>

    <resultMap id="CellStock" type="Stock">
        <id property="id" column="stock_id"/>
        <result property="stockAmount" column="amount"/>
        <result property="manufacturingDate" column="manufacturing_date"/>
        <result property="expirationDate" column="expiration_date"/>
        <result property="regDate" column="reg_date"/>
        <result property="modDate" column="mod_date"/>

        <association property="cell" javaType="Cell">
            <id property="id" column="cell_id"/>
            <result property="code" column="cell_code"/>
            <result property="width" column="cell_width"/>
            <result property="length" column="cell_length"/>
            <result property="capacity" column="cell_capacity"/>
        </association>

        <association property="product" javaType="Product">
            <id property="id" column="product_id"/>
            <result property="name" column="product_name"/>
        </association>
    </resultMap>

    <select id="findStockList" resultMap="CellStock" resultType="List">
        select *
        from stock s
                 right outer join cell c on s.cell_id = c.cell_id
                 join warehouse w on c.warehouse_id = w.warehouse_id
                 join product p on s.product_id = p.product_id
        where c.warehouse_id = #{searchCond}
        order by c.warehouse_id;
    </select>

    <select id="selectId" parameterType="Integer" resultMap="warehouse">
        select * from warehouse w
                          join warehouse_category wc on w.category_id = wc.category_id
        where warehouse_id = #{id}
    </select>

    <select id="selectName" parameterType="String">
        select warehouse_name from warehouse
        where warehouse_name = #{name}
    </select>

    <insert id="insert" parameterType="Warehouse">
        INSERT INTO warehouse (member_id, category_id, warehouse_code, warehouse_name, warehouse_phone,
                               warehouse_zip_code, warehouse_road_name, warehouse_lot_number, warehouse_detail_address,
                               warehouse_width, warehouse_length, warehouse_height, warehouse_capacity,
                               warehouse_latitude, warehouse_longitude, reg_date)
        VALUES
            (#{member.id}, #{warehouseType.id}, #{code}, #{name}, #{phone},#{zipCode} ,#{roadName}, #{lotNumber}, NULL,
             #{width}, #{length}, #{height}, #{capacity}, #{latitude}, #{longitude}, NOW())
    </insert>

    <select id="selectCellList" parameterType="com.top.effitopia.dto.PageRequestDTO" resultMap="cell">
        select * from Cell where warehouse_id = #{searchCond} ORDER BY cell_id  DESC LIMIT #{skip}, #{size}
    </select>


    <select id="selectWarehouseList" parameterType="com.top.effitopia.dto.PageRequestDTO" resultMap="warehouse">
        select * from warehouse w
        join warehouse_category wc on w.category_id = wc.category_id
        join member m on w.member_id = m.member_id
        <where>
            <if test="keyword != null and keyword != ''">
                w.warehouse_road_name LIKE CONCAT(#{keyword}, '%')
            </if>
        </where>
        ORDER BY warehouse_code
        LIMIT #{skip}, #{size}
    </select>

    <update id="update" parameterType="warehouse">
        UPDATE warehouse
        SET member_id=#{member.id}, warehouse_name=#{name}, warehouse_phone=#{phone}, mod_date=NOW()
        WHERE warehouse_id=#{id}
    </update>

    <select id="getWarehouseCount" resultType="int">
        select count(warehouse_id) from warehouse
    </select>

    <select id="getCellCount" resultType="int">
        select count(cell_id) from cell where warehouse_id = #{searchCond}
    </select>


    <select id="getTotalUtilizationAverage" resultType="double">
        SELECT avg(u.utilization)
        FROM (
            SELECT sum(p.inbound_box_width * p.inbound_box_height * p.inbound_box_length * s.amount) / (w.warehouse_capacity * 1000000) * 100.0 AS utilization
            FROM stock s, product p, warehouse w, cell c
            WHERE s.product_id=p.product_id AND c.cell_id=s.cell_id AND c.warehouse_id=w.warehouse_id
            GROUP BY w.warehouse_id
        ) u
    </select>

    <select id="getWarehouseUtilizationList" resultType="com.top.effitopia.dto.WarehouseUtilizationDTO">
        SELECT w.warehouse_id AS id, w.warehouse_name AS name, w.warehouse_code AS code, w.warehouse_road_name AS roadNameAddress, w.warehouse_lot_number AS lotNumberAddress,
        w.warehouse_latitude AS latitude, w.warehouse_longitude AS longitude, sum(p.inbound_box_width * p.inbound_box_height * p.inbound_box_length * s.amount) / (w.warehouse_capacity * 1000000) * 100.0 AS utilization
        FROM stock s, product p, warehouse w, cell c
        WHERE s.product_id=p.product_id AND c.cell_id=s.cell_id AND c.warehouse_id=w.warehouse_id
        GROUP BY w.warehouse_id
    </select>

    <select id="selectAllType" resultMap="warehouseType">
        select * from warehouse_category
    </select>

    <select id="selectAssignableWarehouseManagerList" resultMap="member123">
        SELECT *
        FROM member m
        WHERE m.role='WAREHOUSE_MANAGER' AND m.status='REGISTERED' AND NOT EXISTS (
            SELECT 1
            FROM warehouse w
            WHERE m.member_id = w.member_id
        )
    </select>
</mapper>

